
@mixin flex($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items:$align;
}

@mixin custom-scrollbar{
    &::-webkit-scrollbar{
        width:6px;
    }
    &::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
    &:hover {
      background: #888;
    }
  }
}

@mixin card-style {
  background: $color-bg-card;
  padding: 20px;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  flex:1
}